@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
}

body {
}

@layer utilities {
}

header {
  background: linear-gradient(to bottom, #01458a 0%, #ffffff 100%),
    url('/assets/software-developer-at-office.jpg') no-repeat center center;
}
