.sticky {
  position: fixed;
  top: 0;
  left: 0;
  /* padding: 10px 0px; */
  margin: 0;
  width: 100%;
  z-index: 100;
  color: white;
  padding: 4px;
  /* background-color: #fbb03b;
  transition: background-color 0.2s ease; */
  /* From https://css.glass */
  background: rgba(251, 176, 59, 0.49);
  /* border-radius: 16px; */
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.6px);
  -webkit-backdrop-filter: blur(6.6px);
  border: 1px solid rgba(251, 176, 59, 0.26);
}

.stickyFirstShow {
  position: fixed;
  top: 0;
  left: 0;
  padding: 4px;
  margin: 0;
  width: 100%;
  z-index: 100;
  /* background-color: #fbd293;
  transition: background-color 0.2s ease; */
  /* From https://css.glass */
  background: rgba(251, 210, 147, 0.77);
  /* border-radius: 16px; */
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.6px);
  -webkit-backdrop-filter: blur(6.6px);
  border: 1px solid rgba(251, 210, 147, 0.26);
}
